node_modules/
dist/
out/
release/
.vite/
.prides/

# Env files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# Electron builder
*.blockmap
*.dmg
*.exe
*.AppImage
*.snap
